@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
  }
  html {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    font-size: 62.5%;

  }

  /* navbar */
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
    background-color: #fff6cc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
  }
  
  .logo {
    font-size: 40px;
    color: #8db9aa;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #8db9aa;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #c0dcc3;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  

  /* home page */
  #home {
    position: relative;
    width: 100%;
    height: 625px;
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 105px;
  }
  
  .hero {
    position: absolute;
    top: 0;
    left: 0; 
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    
  }
  .hero h1 {
    font-size: 65px;
    margin-bottom: 15px;
    color: #86887b;
  }
  
  .hero .cta {
    margin-top: auto;
  }



/* about us */
  .about-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
 }
 .about-container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
 }
 .about-container .products-container .product{
    text-align: center;
    padding:3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
 }
 .about-container .products-container .product:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
 }
 
 .about-container .products-container .product img{
    height: 25rem;
 }
 
 .about-container .products-container .product:hover img{
    transform: scale(.9);
 }
 
 .about-container .products-container .product h3{
    padding:.5rem 0;
    font-size: 2rem;
    color:#444;
 }
 
 .about-container .products-container .product:hover h3{
    color:#86887b;
 }
 
 .about-container .products-container .product .price{
    font-size: 2rem;
    color:#444;
 }
 
 .products-preview{
    position: fixed;
    top:0; left:0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
 }
 
 .products-preview .preview{
    display: none;
    padding:2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin:2rem;
    width: 40rem;
 }
 
 .products-preview .preview.active{
    display: inline-block;
 }
 
 .products-preview .preview img{
    height: 30rem;
 }
 
 .products-preview .preview .fa-times{
    position: absolute;
    top:1rem; right:1.5rem;
    cursor: pointer;
    color:#444;
    font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
    color:#444;
    padding:.5rem 0;
    font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
    padding:1rem 0;
    font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
    color:#27ae60;
 }
 
 .products-preview .preview .stars span{
    color:#999;
 }
 
 .products-preview .preview p{
    line-height: 1.5;
    padding:1rem 0;
    font-size: 1.6rem;
    color:#777;
 }
 
 .products-preview .preview .price{
    padding:1rem 0;
    font-size: 2.5rem;
    color:#f8e9a6;
 }
 
 .products-preview .preview .buttons{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
    flex:1 1 16rem;
    padding:1rem;
    font-size: 1.8rem;
    color:#444;
    border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
    background: #444;
    color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
    background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
    background: #444;
    color:#fff;
 }
 
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
 }
 
 @media (max-width:768px){
 
    .products-preview .preview img{
       height: 25rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
 }

/* about us with pic */
.abtu .heading{
    width: 85%;
    margin: auto;
    text-align: center;
}
.abtu .heading h1{
    color: #f8e9a6;
    font-size: 50px;
    margin-top: 50px;
}
 .wrapper{
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .content{
    width: 50%;
    margin: 0px 25px;
 }
 .content h2{
    font-size: 30px;
    color: #8db9aa;
 }
 .content p{
    color: #86887b;
    font-size: 19px;
    line-height: 1.5;
    margin-top: 10px;
 }
 .content .abt-btn{
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid #02640;
    font-size: 19px;
    padding: 13px 16px;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
 }
 .content .abt-btn::before{
    position: absolute;
    content: "";
    border: 1px solid transparent;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #86887b;
    z-index: -1;
    transition: transform 0.7s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.5, 0.4, 0.7);
    transform: scaleX(0);
 }
 .content .abt-btn:hover{
    color: #fff;
 }
 .content .abt-btn:hover::before{
    transform: scaleX(1);
 }
 .abt-img{
    width: 50%;

 }
 .abt-img img{
    width: 100%;
    height: auto;
 }


 /* contacts */
 .cont-container{
    min-height: 100vh;
    background: #08071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("back.jpg") no-repeat center center/cover;
}

.cont-container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.cont-container form h1{
    color: #8db9aa;
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.cont-container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #ffffff;
}

.cont-container form input::placeholder{
    color: rgb(84, 84, 84);
}

.cont-container form #lastName,
.cont-container form #mobile{
    margin-left: 20px;
}

.cont-container form h4{
    color:  rgb(84, 84, 84);
    font-weight: 300;
    font-size: 20px;
    width: 600px;
    margin-top: 20px;
}

.cont-container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #000000;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.cont-container form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.cont-container form #button:hover{
    opacity: 0.7;
}
